.centralized-col {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.centralized-row {
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
}

.between-col {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
}

.between-row {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
}

.full {
   width: 100%;
   height: 100%;
}